<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hp.dao.Stock_stateMapper">
  <resultMap id="BaseResultMap" type="com.hp.bean.Stock_state">
    <id column="STOCK_STATE_NO" jdbcType="INTEGER" property="stockStateNo" />
    <result column="STOCK_STATE_NEWS" jdbcType="VARCHAR" property="stockStateNews" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    STOCK_STATE_NO, STOCK_STATE_NEWS
  </sql>
  <select id="selectByExample" parameterType="com.hp.bean.Stock_stateExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from e_stock_state
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from e_stock_state
    where STOCK_STATE_NO = #{stockStateNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from e_stock_state
    where STOCK_STATE_NO = #{stockStateNo,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hp.bean.Stock_stateExample">
    delete from e_stock_state
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hp.bean.Stock_state">
    insert into e_stock_state (STOCK_STATE_NO, STOCK_STATE_NEWS)
    values (#{stockStateNo,jdbcType=INTEGER}, #{stockStateNews,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hp.bean.Stock_state">
    insert into e_stock_state
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stockStateNo != null">
        STOCK_STATE_NO,
      </if>
      <if test="stockStateNews != null">
        STOCK_STATE_NEWS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stockStateNo != null">
        #{stockStateNo,jdbcType=INTEGER},
      </if>
      <if test="stockStateNews != null">
        #{stockStateNews,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hp.bean.Stock_stateExample" resultType="java.lang.Long">
    select count(*) from e_stock_state
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update e_stock_state
    <set>
      <if test="record.stockStateNo != null">
        STOCK_STATE_NO = #{record.stockStateNo,jdbcType=INTEGER},
      </if>
      <if test="record.stockStateNews != null">
        STOCK_STATE_NEWS = #{record.stockStateNews,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update e_stock_state
    set STOCK_STATE_NO = #{record.stockStateNo,jdbcType=INTEGER},
      STOCK_STATE_NEWS = #{record.stockStateNews,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hp.bean.Stock_state">
    update e_stock_state
    <set>
      <if test="stockStateNews != null">
        STOCK_STATE_NEWS = #{stockStateNews,jdbcType=VARCHAR},
      </if>
    </set>
    where STOCK_STATE_NO = #{stockStateNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hp.bean.Stock_state">
    update e_stock_state
    set STOCK_STATE_NEWS = #{stockStateNews,jdbcType=VARCHAR}
    where STOCK_STATE_NO = #{stockStateNo,jdbcType=INTEGER}
  </update>
</mapper>